.box{
	color: white;
	min-height: 50px;
	font-size: 25px;
	text-align: center;
	padding: 15px;
}
.spacing{
	padding: 15px;
}
.visualization{
	position: absolute;
	right: 5%;
}
.gray{
	background: cornflowerblue;
}
.ghostwhite {
	background: #F8F8FF;
}
